* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: darkslategray;
    padding: 5rem;
    padding-top: 3rem;
}
section {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    align-items: center;
    perspective: 100px;
    }

/* cards */
img {
    width: 50px;
    height: 50px;
    margin-right: 2rem;
}
h3 {
    margin-bottom: .5rem;
}
.card {
    display: flex;
    width: 500px;
    border-radius: 10px;
    padding: 2rem;
    transform: rotateZ(4deg) rotateX(2deg) rotateY(-4deg);
    transition: all 250ms;
    opacity: .8;
    background: white;
}
.card:nth-of-type(1) {
    background-color: lightblue;
    z-index: 3;
}
.card:nth-of-type(2) {
    background-color: lightyellow;
    z-index: 2;
    margin-top: -.7rem;
    margin-bottom: -.7rem;
}
.card:nth-of-type(3) {
    background-color: pink;
    z-index: 1;
}
.card:nth-of-type(1):hover {
    transform: rotateZ(4deg) rotateX(1deg) rotateY(-2deg);
    z-index: 3;
    opacity: 1;
}
.card:nth-of-type(2):hover {
    transform: rotateZ(4deg) rotateX(1deg) rotateY(-2deg);
    z-index: 3;
    opacity: 1;
}
.card:nth-of-type(3):hover {
    transform: rotateZ(4deg) rotateX(1deg) rotateY(-2deg);
    z-index: 3;
    opacity: 1;
}